body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", sans-serif;
 background: linear-gradient(135deg, #0f172a, #111827);
  color: white;
}

h1 {
  text-align: center;
  margin: 10px 0;
}

.board {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
  padding: 10px 20px;
  margin-top: 10px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  margin-bottom: 20px;
   background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(6px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);

}

.logo {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
}

.search-input {
  width: 250px;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
}

.section-heading {
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
  margin: 20px 0 15px 0;
  font-weight: 500;
  color: #e2e8f0;
}


.column {
  background: #1e293b;
  width: 300px;
  min-height: 400px;
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.4);
  transition: 0.3s ease;
}

.column:hover{
  transform: translateY(-4px);
}

.column h2 {
  text-align: center;
  margin-bottom: 15px;
}

.column.todo {
  border-top: 4px solid #3b82f6;
}

.column.progress {
  border-top: 4px solid #facc15;
}

.column.done {
  border-top: 4px solid #22c55e;
}


.card {
  background: #334155;
  padding: 12px 14px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  transition: 0.2s ease;
  border: 1px solid rgba(255,255,255,0.05);
}

.card:hover {
  transform: scale(1.02);
}

.card span {
  flex: 1;
  font-size: 14px;
  word-break: break-word;
}

.card.high{
  border-left: 5px solid #ef4444
}

.card.medium{
  border-left: 5px solid #facc15;
}

.card.low{
  border-left: 5px solid #22c55e;
}
.card button {
  background: #3b82f6;
  border: none;
  padding: 4px 8px;
  border-radius: 6px;
  display: flex;
  gap: 6px;
  align-items: center;
  color: white;
  cursor: pointer;
  font-size: 12px;
}

.card button:hover {
  background: #2563eb;
}

.delete-btn {
  background: #ef4444 !important;
}

.delete-btn:hover {
  background: #dc2626 !important;
}

.input-area {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.input-area input {
  padding: 8px;
  width: 250px;
  height: 30px;
  border-radius: 6px;
  border: none;
}

.input-area button {
  padding: 8px 12px;
  border-radius: 6px;
  width: 70px;
  border: none;
  background: #22c55e;
  color: white;
  cursor: pointer;
}

.input-area button:hover {
  background: #16a34a;
}

.footer {
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}
